@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ciano: #0c676b;
    --branco: #fbfbf4;
    --verde-agua: #99c5c6;
    --azul-bebê: #bdd4db;
    --cinza: #7c9496;
    --preto: #1c1917;
    --cinza-claro: #D9D9D9;

    --titulo: "Noto Sans", sans-serif;
    --corpo: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--titulo);
}

main {
    margin-left: 3rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    top: 0;
    padding: 0.5rem 0;
    bottom: 0;
    position: fixed;
    background: var(--cinza);
    color: var(--branco);
}

nav div {
    align-self: center;
}

nav ul {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

nav li {
    margin: 0;
}

nav li+li {
    margin-top: 0.5rem;
}

menu {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: var(--cinza-claro);
    color: var(--ciano);
    font-size: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2rem;
    padding: 5%;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 6rem;
    align-items: center;
    font-family: var(--corpo);
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--cinza-claro);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--cinza);
    width: 60%;
}

.input input[type='text'] {
    all: unset;
    width: 80%;
    color: var(--ciano);
}

.input_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.input_button img {
    align-self: center;
    width: 1.2rem;
    height: auto;
}

.filtro_suspenso {
    width: 30%;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    gap: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

#categoria {
    width: 40% !important;
    all: unset;
    font-size: 1rem;
    background-color: var(--cinza-claro);
    border-radius: 1rem;
    border: 0.1rem solid var(--cinza);
    background-image: url(assets/angle-small-down.svg);
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1.2rem;
    padding: 0.3rem 0;
}

@media (max-width: 900px) {
    .container {
        margin: 1rem 2rem;
    }

    #categoria {
        width: 80% !important;
    }

    .categoria_suspenso label {
        display: none;
    }

    .input {
        width: 70%;
    }

    .input input[Type='text'] {
        width: 70%;
    }
}

.bt {
    position: fixed;
    bottom: 20px;
    right: 40px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.botao {
    height: 2rem;
    width: auto;
    background-color: var(--cinza);
    color: var(--branco);
    border-radius: 10px;
    font-family: var(--corpo);
    padding: 1px 2rem;
}