.inputComponent {
    background-color: var(--cinza-claro);
    padding: 0 1rem;
    border-radius: 5px;
    color: var(--ciano);
    border: 1.5px solid var(--cinza);
    font-size: 1rem;
    height: 2.1rem;
    align-items: center;
}

@media (max-width:800px) {
    .inputComponent {
        font-size: 0.8rem;
    }
}

.inputComponent select{
    background-color: transparent;
    border: none;
    color: var(--cinza);
    font-size: inherit;
    height: 100%;
    width: 100%;
    outline: none;
    text-align: left;
    text-align-last: left;
    appearance: none;
    padding: 0 0.2rem;
}

.inputComponent select {
    background-image: url(/assets/angle-small-down.svg);
    background-repeat: no-repeat;
    background-position: right 0.2px center;
    background-size: 1.3em;
}

.checkBoxComponent {
    height: 20px;
    width: 20px;
}