.list {
    display: flex;
    flex-direction: column;
}

ul.accordation {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50vh;
    overflow-y: auto;
}

ul.accordation li {
    list-style: none;
    width: 100%;
    border-radius: 10px;
    background: #D9D9D9;
    border: solid #7C9496 2px;
    margin-top: 0.5rem;
}

ul.accordation label,
.list header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: var(--input-height);
    font-weight: 500;
    cursor: pointer;
}

.list header {
    display: flex;
    justify-content: start;
    width: 100%;
    border-radius: 10px;
    background: #7C9496;
    color: white;
    font-weight: 600;
    cursor: auto;
}

.list .row {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

ul.accordation label::before {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    content: '>';
    rotate: 90deg;
}

ul.accordation input[type="radio"] {
    display: none;
}

ul.accordation .content {
    background: #C5C5C5;
    border-radius: 0 8px;
    padding: 0 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

ul.accordation table {
    width: 100%;
}

ul.accordation table tr {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    border-bottom: solid #7C9496 2px;
    padding: 0.5rem 0;
}

ul.accordation table tr+tr.clicavel:hover {
    background-color: #D9D9D9;
    cursor:pointer;
}

ul.accordation table tr:first-child {
    font-weight: 600;
}

ul.accordation input[type="radio"]:checked+label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

ul.accordation input[type="radio"]:checked+label::before {
    transform: rotate(180deg);
}