.outside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outside .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.outside.close,
.outside .background.close,
.outside .modal.close {
    display: none;
}

.modal {
    z-index: 99999;
    border: solid 2px var(--cinza);
    width: 60vw;
    max-height: 80vh;
    border-radius: 10px;
    background: var(--branco);
}

.modal header {
    background-color: var(--verde-agua);
    border-radius: 5px 5px 0 0;
    border-bottom: solid 2px var(--cinza);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    
}

.modal button.x {
    all: unset;
    cursor: pointer;
}

.modal header div{
    font-family:var(--titulo);
    font-weight: 100;
    letter-spacing: 0.2rem;
    color: var(--preto);
}